Repository xxdunedainxx/lindsay-wildlife-treasure-hunt, pull requests merged in 2021-11, with the labels that each got.

#113 Deployment Script Updates
  .gitignore
  deployment/bundle.sh
  deployment/deploy.sh
  deployment/setup/docker_setup.sh
  deployment/setup/file_and_users.sh
  deployment/setup/install_new_images.sh
Labels: enhancement, Infrastructure

#112 Minor Styling Enhancements (nav + report bug page)
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/Nav.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/ReportAnIssueDisplay/ReportAnIssueDisplay.css
Labels: bug, Front End

#117 Health Monitoring Script
  .gitignore
  scripts/MONITOR_JOB.txt
  scripts/alert_email.txt
  scripts/monitor.sh
  scripts/setup.sh
Labels: Infrastructure

#119 Testing for multiple different barcode scanners
  frontend/lindsay-wildlife-treasure-hunt-frontend/package-lock.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/package.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/ZBarcodeScanner.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/ScanDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/TestZoomComponent.js
Labels: Front End
