Repository xxdunedainxx/lindsay-wildlife-treasure-hunt, pull requests merged in 2022-01, with the labels that each got.

#158 Major cosmetic updates, change game instruction and win page text, en…
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/App.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/AnswerDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/ScanDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/TopMessage.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/MobileNav.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/Nav.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/Nav.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/ReportAnIssueDisplay/ReportAnIssueDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/WinDisplay/WinDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/WinDisplay/WinDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/about/AboutPageComponent.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/about/AboutPageComponent.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/about/rm-headshot.jpg
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/home/HomePageComponent.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/home/HomePageComponent.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/report/ReportBugPageComponent.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/index.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/fonts/AvenirLTStd-Book.otf
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/fonts/Stag-Book.otf
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/fonts/Stag-Light.otf
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/game/Game.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/util/Session.js
Labels: enhancement, Front End

#153 Zoom Feature via Canvas Draw
  frontend/lindsay-wildlife-treasure-hunt-frontend/package-lock.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/package.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/ZBarcodeScanner.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/ZBarcodeScanner.js
Labels: enhancement, Front End

#169 [0.14.x] Session data fix
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/game/Game.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/http/clients/GameControllerClient.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/http/clients/RemoteLogger.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/util/Session.js
Labels: bug, Front End

#159 [0.14.x] Update Certificate Email Format
  backend/src/Mail/MailFormatter.py
  backend/src/Mail/SMTP.py
  backend/src/Mail/html_templates/Congrats.html
  backend/src/Mail/html_templates/assets/LWEbrowngreenheader.png
Labels: enhancement, Backend

#170 Load test 014.0
  .gitignore
  load/README.md
  load/history/0.14.0-results.md
  load/load.sh
  load/src/vegeta/attack_and_report.src
  load/tests/backend/test_mail_api.sh
Labels: Testing

#176 Manual Entry Mode Numpad
  backend/db.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/App.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/HintDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/ManualEntryDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/ScanDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/WinDisplay/WinDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/data/MockData.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/game/Game.js
Labels: Front End, New Feature

#177 Zoom optimization
  VERSION
  backend/src/Configuration.py
  backend/src/MultiThreading/jobs/LogRotationJob.py
  backend/src/util/FileIO.py
  deployment/setup/install_new_images.sh
  frontend/.config/configstore/update-notifier-npm.json
  frontend/build.sh
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/ZBarcodeScanner.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/ZBarcodeScanner.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/pause_button.svg
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/play_button.svg
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/ScanDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/home/HomePageComponent.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/conf/Configuration.js
Labels: enhancement, Front End

#197 Add Lord Richard Avatar
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Avatars/LordRichard/LordRichard.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Avatars/LordRichard/LordRichard.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Avatars/LordRichard/LordRichard.png
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/home/HomePageComponent.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/home/HomePageComponent.js
Labels: Front End

#194 Artifact Database Rebase
  backend/Dockerfile
  backend/assets/0.png
  backend/assets/1.png
  backend/assets/10.png
  backend/assets/11.png
  backend/assets/12.png
  backend/assets/13.png
  backend/assets/14.png
  backend/assets/15.png
  backend/assets/16.png
  backend/assets/17.png
  backend/assets/18.png
  backend/assets/19.png
  backend/assets/2.png
  backend/assets/3.png
  backend/assets/4.png
  backend/assets/6.png
  backend/assets/7.png
  backend/assets/8.png
  backend/assets/9.png
  backend/db.json
  backend/src/Configuration.py
  backend/src/WebServer/APIFactory.py
  backend/src/WebServer/controllers/images/ImageController.py
  backend/src/data/models/game/Level.py
  frontend/lindsay-wildlife-treasure-hunt-frontend/package-lock.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/package.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/BarcodeScanner/ZBarcodeScanner.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/AnswerDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/conf/client_conf.json
  qr_codes/ammonite.png
  qr_codes/baleen.png
  qr_codes/banana_slug.png
  qr_codes/barnacle.png
  qr_codes/benitoite.png
  qr_codes/california_buckeye.png
  qr_codes/california_condor.png
  qr_codes/california_quail.png
  qr_codes/coral.png
  qr_codes/desert_bighorn_sheep.png
  qr_codes/elephant_seal.png
  qr_codes/giant_water_bug.png
  qr_codes/greater_roadrunner.png
  qr_codes/ground_squirrel.png
  qr_codes/mammoth.png
  qr_codes/monarch_butterfly.png
  qr_codes/moray_eel.png
  qr_codes/parrys_manzanita.png
  qr_codes/qr_size_test.pdf
  qr_codes/serpentine.png
  qr_codes/western_gray_squirrel.png
Labels: Front End, Backend

#190 Add React Client Health Check
  backend/scripts/setup.sh
  backend/src/Configuration.py
  backend/src/Services.py
  backend/src/WebServer/controllers/monitor/AppHealthUtil.py
Labels: enhancement, Backend

#184 Add email notification on deployment
  backend/src/App.py
  backend/src/Configuration.py
  backend/src/Mail/MailFormatter.py
  backend/src/Mail/SMTP.py
  backend/src/Mail/html_templates/Deployment.html
  backend/src/WebServer/controllers/monitor/AppHealthUtil.py
Labels: enhancement, Backend

#182 [Frontend] Dynamically determine which config to use
  deployment/deploy.sh
  frontend/build.sh
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/App.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/conf/Configuration.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/conf/client_conf.json
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/conf/env/env.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/conf/prod_client_conf.json
Labels: enhancement, Front End

#183 Monitoring 2.0
  .DS_Store
  .gitignore
  backend/monitoring.py
  backend/monitoring/Dockerfile.Monitoring
  backend/monitoring/MonitoringAgent.py
  backend/monitoring/__init__.py
  backend/monitoring/conf/MonitoringConfig.py
  backend/monitoring/deploy/deploy.sh
  backend/monitoring/deploy/docker_setup.sh
  backend/monitoring/deploy/install_new_images.sh
  backend/monitoring/jobs/MonitoringHealthService.py
  backend/monitoring/monitoring_util/MonitoringClient.py
  backend/monitoring/run.sh
  backend/monitoring/scripts/build.sh
  backend/monitoring/scripts/run.sh
  backend/scripts/setup.sh
  backend/src/Configuration.py
  backend/src/Mail/MailFormatter.py
  backend/src/Mail/SMTP.py
  backend/src/Mail/html_templates/ServerDown.html
  monitoring/MONITOR_JOB.txt
  monitoring/alert_email.txt
  monitoring/monitor.sh
  monitoring/setup.sh
Labels: enhancement, Backend

#199 Add missing dom attributes to aid Selenium testing, change artifactId to artifactIdx.
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/GameDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/HintDisplay.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/GameDisplay/TopMessage.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/MobileNav.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/Nav.css
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/Nav/Nav.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/Components/pages/about/AboutPageComponent.js
  frontend/lindsay-wildlife-treasure-hunt-frontend/src/src/game/Game.js
Labels: Front End
